---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% if page.categories.size >= 1 %}
<div class="related">
  <h2>Categories</h2>
  <p>
    {% assign top_cat = page.categories | first %}
    <a href="/categories/{{ top_cat }}/">{{ top_cat }}</a>
    {% if page.categories.size > 1 %}
      {% assign sub_cat = page.categories | last %}
      · <a href="/categories/{{ top_cat }}/{{ sub_cat }}/">{{ sub_cat }}</a>
    {% endif %}
  </p>
</div>
{% endif %}
